<div id="camposdinamicos<%= f.object.formulario ? f.object.formulario.id.to_s :'' %>" class="valorcampo-div valorcampodiv">
  <% ultfila = 0 # Ultima fila escrita %>
  <% proxcol = 1 # Proxima columna por escribir en fila ultfila %>
  <% divabierto = false %>
  <%= f.simple_fields_for :valorcampo, 
    f.object.valorcampo.joins(:campo).
    order('mr519_gen_campo.fila', 'mr519_gen_campo.columna') do |v| %>
    <% campo = v.object.campo %>
    <% fila = (campo.fila && campo.fila > 0) ? campo.fila : ultfila + 1 %>
    <% while ultfila < fila - 1 %>
      <div class="row"><div class="col-md-12">   </div></div>
      <% ultfila += 1 %>
      <% proxcol = 1 %>
    <% end %>
    <% if ultfila != fila %>
      <% if divabierto %>
        </div>
      <% end %> 
      <div class="row">
      <% divabierto = true %> 
      <% proxcol = 1 %> 
      <% ultfila = fila %>
    <% end %>
    <% cl = '' %>
    <% columna = campo.columna || 1 %>
    <% ancho = campo.ancho || 12 %>
    <% cl += " offset-md-#{columna - proxcol}" %>
    <% cl += " col-md-#{ancho}" %>
    <% proxcol = columna + ancho %>
    <div class="<%= cl %>">
      <%= render partial: 'mr519_gen/formularios/valorcampo_campos', 
        locals: { f: f, v: v} %>
    </div>
  <% end %>
  <% if divabierto %>
    </div>
  <% end %>
</div>

